 <!-- File Name: bottom_nav.ejs
      Student Name: Manjula Subramaniam
      Student ID: 301277582
      Date: 28 September 2023 -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-custom">
    <div class="container">
      <div class="navbar-text text-center">
        <p class="mb-0">&copy; Manjula Subramaniam. All rights reserved.</p>
      </div>
    </div>
  </nav>
</footer>
<style>
    .bg-custom {
    background-color: #5d4066; /* Replace with your desired background color */
}
</style>

